<?xml version="1.0" encoding="UTF-8" ?>
<Configuration>
    <Properties>
        <Property name="consoleFormat">
            %date{HH:mm:ss.SSS} %logger{2} [%highlight{%5level}] - %message%n
        </Property>
        <Property name="fileFormat">
            %date{HH:mm:ss.SSS} %logger [%5level] - %message%n
        </Property>
        <Property name="fullLogs">logs/application.log</Property>
    </Properties>
    <ThresholdFilter />
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="${consoleFormat}"/>
        </Console>
        <File name="applicationLogs" filename="${fullLogs}" append="false">
            <PatternLayout pattern="${fileFormat}" />
        </File>
    </Appenders>
    <Loggers>
        <Logger name="github.ptrteixeira" level="trace">
            <AppenderRef ref="console" />
        </Logger>
        <Root level="debug">
            <AppenderRef ref="applicationLogs" />
        </Root>
    </Loggers>
</Configuration>